.App {
  text-align: center;
}

li {
  list-style: auto;
  width: fit-content;
}
.container {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
.edit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
input {
  padding: 10px;
  outline: none;
  border: 1px solid gray;
  border-radius: 10px;
}
button {
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 10px;
  border: 1px solid gray;
  cursor: pointer;
  width: 5rem;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
